<div class="container">
  <div class="container-position">

    <div class="input-section-box">
      <input type="text" placeholder="Pergunta" class="input-question">


      <!-- select here -->
      <select name="" id="" class="form-select w-25 shadow-none">
        <option value="">Múltipla escolha</option>
        <option value="">Resposta curta</option>
      </select>
    </div>


    <div class="options-container">

      <div class="options-box">
        <input class="input-radio" type="checkbox" name="asdasd" id="asdasd" value="aa">

        <span class="fs-6">Opção 1</span>
      </div>


      <div class="options-box">
        <input class="input-radio" type="checkbox" name="hue" id="drone">

        <span class="fs-6">Adicionar opção ou adicionar "Outro"</span>
      </div>
    </div>

    <footer class="footer-container">
      <button class="button-icon" (click)="duplicateQuestion()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V2Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6ZM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1H2Z"/>
        </svg>
      </button>

      <button class="button-icon" (click)="removeQuestion()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg>
      </button>

      <div class="required-switch-box">
        <span class="fs-6">Obrigatória</span>

        <div class="form-check form-switch">
          <input class="form-check-input px-4 py-2 shadow-none" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>
      </div>
    </footer>

  </div>
</div>
